{% extends 'client/navbar.html' %}


{% block content %}

    <br>

    {% for article in AllClientArticles %}

        <div class="container bg-white shadow-md p-5 form-layout">

            <h3> {{article.title}} </h3>

            <br> <br>

            {{article.content}}

            <br> <br>

            {{article.date_posted}}

            <br> <br>
            
            {% if article.is_premium %}

                <strong> ⭐️ Premium </strong>

            {% elif not article.is_premium %}

                <strong> Standard </strong>

            {% endif %}

            <br>

        </div>

        <br>

    {% endfor %}




{% endblock %}