{% extends 'client/navbar.html' %}

{% block content %}

    <br>

    <div class="container bg-white shadow-md p-4 form-layout text-center">

        <h5> Subscription Plans </h5>

    </div>

    <br>

    <div class="row">

        <div class="container bg-white shadow-md p-5 form-layout text-center">

            <h5> Standard Subscription </h5>

            <hr>

            <p> Join us for a standard access </p>

            <strong> (Limited Article Access) </strong>

            <hr>

            <div id="paypal-button-container-P-2VL17839HB621822XM2UCZKQ"></div>
            <script src="https://www.paypal.com/sdk/js?client-id=AZGBZuEnLVibql2s8X_fzU0GVWLaVSkO4poVJhHGIRLA9l902ZUrew3K0vDNw7TLcAQ7r8ooDruxGZvF&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
            <script>
            paypal.Buttons({
                style: {
                    shape: 'rect',
                    color: 'silver',
                    layout: 'vertical',
                    label: 'subscribe'
                },
                createSubscription: function(data, actions) {
                    return actions.subscription.create({
                    /* Creates the subscription */
                    plan_id: 'P-2VL17839HB621822XM2UCZKQ'
                    });
                },
                onApprove: function(data, actions) {
                    alert(data.subscriptionID); // You can add optional success message for the subscriber here
                }
            }).render('#paypal-button-container-P-2VL17839HB621822XM2UCZKQ'); // Renders the PayPal button
            </script>
        </div>

        <!-- Premium plan logic (PayPal)-->

        <div class="container bg-white shadow-md p-5 form-layout text-center">

            <h5> Premium Subscription </h5>

            <hr>

            <p> Elevate your experience with premium here: </p>

            <strong> (Full Article Access) </strong>

            <hr>

            <div id="paypal-button-container-P-3VW10193G80418649M2UC24Y"></div>
            <script>
            paypal.Buttons({
                style: {
                    shape: 'rect',
                    color: 'gold',
                    layout: 'vertical',
                    label: 'subscribe'
                },
                createSubscription: function(data, actions) {
                    return actions.subscription.create({
                    /* Creates the subscription */
                    plan_id: 'P-3VW10193G80418649M2UC24Y'
                    });
                },
                onApprove: function(data, actions) {
                    alert(data.subscriptionID); // You can add optional success message for the subscriber here
                }
            }).render('#paypal-button-container-P-3VW10193G80418649M2UC24Y'); // Renders the PayPal button
            </script>

        </div>
    
    </div>  

    <br>


{% endblock %}

